
.banner {
  height: 120px;
  background-color: #666;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  @media (min-width: 992px) {
    padding: 0 60px;
    flex-direction: row;
  }

  .left-b, .right-b {
    top:0;
    position: absolute;
  }
  .left-b {
    left: 15px;
  }
  .right-b {
    right: 15px;
  }
  .caption {
    
    color: #fff;
    font-weight: bolder;
    
    @media (min-width: 992px) {
      max-width: 50%;
      font-size: $-xl2;
    }
  }
}