.c-primary {
  color: $edtop-primary;
}

.c-secondary {
  color: $edtop-secondary;
}

.c-white {
  color: white;
}

.b-white {
  background-color: white;
}

.b-primary {
  background-color: $edtop-primary;
}

.b-secondary {
  background-color: $edtop-secondary;
}