.search-modal {
	form {
		display: flex;
	}

  .modal-content {
    background-color: $edtop-primary;
  }

	input {
		width: 100%;
		background-color: $edtop-primary;
		border-color: #666;
		color: #fff;

		&::placeholder {
			color: #ccc;
		}
	}

	@media (min-width: 768px) {
		.modal-dialog {
			width: 100%;
			margin: 0 auto;
		}
	}
}

.btn-orange {
	background-color: $edtop-secondary;
	color: #fff;
	transition: $transition;

	&:hover {
		color: #012b4d;
	}
}
