.mtitle {
  border: 1px solid;
  border-radius: 4;
  text-transform: uppercase;
  padding: 0.3125em 0.625em;
  font-weight: bold;
  display: inline-block;
}

.mtitle-secondary {
  border-color: $edtop-secondary;
  color: $edtop-secondary;
}

.mtitle-primary {
  border-color: $edtop-secondary;
  color: $edtop-secondary;
}