.nav-global {  
	display: flex;
	align-items: center;
	padding: 5px 15px;
	background-color: #fff;
	border-bottom: 3px solid $edtop-secondary;
	box-shadow: $edtop-boxshadow;

	> div {
		display: flex;
	}
	> :last-child,
	> :first-child {
		flex: 1 1 0%;
	}

	> :last-child {
		justify-content: flex-end;
	}
	figure {
		margin: 0;
	}
	figcaption {
		display: inline;
		margin-left: 15px;
	}
}

.nav-interative a {
  font-size: $-lg;
	&:not(:last-child) {
    margin-right: 15px;
  }
}

.title-global {
  color: $edtop-primary;
  text-transform: uppercase;
  font-weight: 500;
}