.nav-global {  
	display: flex;
	align-items: center;
	padding: 5px 15px;
	background-color: #fff;
	border-bottom: 3px solid $edtop-secondary;
	box-shadow: 0 5px 10px 0 rgba(0,0,0,0.4);

	> div {
		display: flex;
	}
	> :last-child,
	> :first-child {
		flex: 1 1 0%;
	}

	> :last-child {
		justify-content: flex-end;
	}
	figure {
		margin: 0;
	}
	figcaption {
		display: inline;
		margin-left: 15px;
	}
}
