.nav-primary {
  background-color: white;
  padding: 0 15px;
  display: flex;
	position: sticky;
	top: -1px;
	z-index: 2;
  
  box-shadow: $edtop-boxshadow;
  @media (min-width: 992px) {
    justify-content: center;
  }
  .navbar-toggler {
    background-color: $edtop-primary;
    border: none;
  }
  .navbar-brand {
    display: none;
    animation: fadeIn 5s;
  }
}

.nav-primary.is-pinned {
  .navbar-brand {
    display: block;
  }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.nav-ul {
  margin: 0 auto;
  padding: 0;
  li {
    display: flex;
  }
  a {
    width: 100%;
  }
  @media (min-width: 992px) {
    li {
      list-style: none;
      display: inline-flex;
    }
  }
}
