.posts {
  margin-bottom: 15px;
  padding-bottom: 15px;
  position: relative;
  a {
    color: $edtop-primary;
    transition: $transition;
    text-decoration: none;
  }
  a:hover {
    color: $edtop-secondary;
  }
  figure {
    overflow: hidden;
  }
}

.posts.dotted {
  border-bottom: 1px dotted #ccc;
}
