
// variaveis edtop
$edtop-primary: #101946;
$edtop-secondary: #CCAA3C;
// social
$facebook: #3B5998;
$instagram: #DD2A7B;
$youtube: #E62117;
$whatsapp: #25D366;
$twitter: #00ACEE;
// shadows 
$edtop-boxshadow: 0 5px 10px 0 rgba(0,0,0,0.4);

// Vendors
@import "@/styles/vendors/bootstrap";
@import "@/styles/vendors/font-awesome";
@import "@/styles/vendors/google-fonts";

// Componentes
@import "@/styles/components/fan";
@import "@/styles/components/hello";
@import "@/styles/components/nav-global";
@import "@/styles/components/mtitle.scss";
@import "@/styles/components/sizes.scss";
@import "@/styles/components/iplay.scss";
@import "@/styles/components/hero.scss";
@import "@/styles/components/nav-primary.scss";
@import "@/styles/components/link.scss";
@import "@/styles/components/banner.scss";
@import "@/styles/components/carpet.scss";
@import "@/styles/components/baloon.scss";

body {
  font-size: 16px;
  background-color: #333;
}

h1 {
  color: white;
}

.header {
  box-shadow: $edtop-boxshadow;
}

.cursos {
  background-color: #fff;
  background-image: url("../assets/shape10.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 3px solid $edtop-secondary;
}

.videos {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/shape30.png");
  position: relative;
}

.players {
  display: flex;
  .players-item {
    margin: 15px;
  }
}

.divider {
  height: 13px;
  background-image: url('../assets/divider.png');
  background-repeat: repeat-x;
}

.btn-xl {
  padding: 30px;
}