
// variaveis edtop
$edtop-primary: #101946;
$edtop-secondary: #CCAA3C;
// social
$facebook: #3B5998;
$instagram: #DD2A7B;
$youtube: #E62117;
$whatsapp: #25D366;
$twitter: #00ACEE;
// shadows 
$edtop-boxshadow: 0 5px 10px 0 rgba(0,0,0,0.4);

// Vendors
@import "@/styles/vendors/bootstrap";
@import "@/styles/vendors/font-awesome";
@import "@/styles/vendors/google-fonts";

// Componentes
@import "@/styles/components/sizes.scss";
@import "@/styles/components/fan";
@import "@/styles/components/hello";
@import "@/styles/components/nav-global";
@import "@/styles/components/mtitle.scss";
@import "@/styles/components/iplay.scss";
@import "@/styles/components/hero.scss";
@import "@/styles/components/nav-primary.scss";
@import "@/styles/components/link.scss";
@import "@/styles/components/banner.scss";
@import "@/styles/components/carpet.scss";
@import "@/styles/components/baloon.scss";
@import "@/styles/components/bgrounded.scss";
@import "@/styles/components/colors.scss";
@import "@/styles/components/gallery.scss";
@import "@/styles/components/email.scss";
@import "@/styles/components/title-line.scss";

html {
  scroll-behavior: smooth;
}

body {
  font-size: 16px;
  background-color: #333;
}

.header {
  box-shadow: $edtop-boxshadow;
}

.cursos {
  background-color: #fff;
  background-image: url("../assets/shape10.png");
  background-size: cover;
  background-repeat: no-repeat;
  border-bottom: 3px solid $edtop-secondary;
}

.videos {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/shape30.png");
  position: relative;
}

.sobre {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../assets/shape11.png");
}

.players {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;

  .players-item {
    width: 100%;
    margin: 0 15px;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
    @media (min-width: 992px) {
      width: calc(50% - 30px);
      margin-bottom: 15px;
    }
  }
}

.divider {
  height: 13px;
  background-image: url('../assets/divider.png');
  background-repeat: repeat-x;
}

.btn-xl {
  @media (min-width: 992px) {
    padding: 30px;
  }
}

.edtop {
  background-image: url("../assets/Logo-2.png");
  background-color: #1f295d;
  height: 600px;
  background-attachment: fixed;
  background-position: 50% bottom;
  background-repeat: no-repeat;
  background-size: 100%;
}

.contatos {
  background-color: #181925;
  background-image: url('../assets/mapa.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% -5%;
  height: 600px;
  display: flex;
  border-bottom: 3px solid $edtop-secondary;
  .contatos-frendly {
    background-image: url('../assets/coruja.png');
    background-position: bottom left;
    background-repeat: no-repeat;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

.footer {
  background-color: #090E29;
  background-image: url('../assets/footer-bg.png');
  background-size: cover;
  background-repeat: no-repeat;
  .footer-title {
    border-bottom: 2px solid $edtop-secondary;
  }
}

.group-span {
  display: flex;
  margin-bottom: 15px;
  i {
    margin-right: 5px;
  }
  span {
    display: flex;
    align-items: flex-start;
    color: $edtop-primary;
    line-height: 1.2;
    font-size: 18px;
    font-weight: 500;
  }
}

.copyright {
  background-color: #222;
  color: #ccc;
  font-size: $-xs;
  padding: 15px;
  display: flex;
  justify-content: space-between;
}

.text-border {
  text-shadow: -2px 0 white, 0 2px white, 2px 0 white, 0 -2px white;
}

.max-50 {
  max-width: 50%;
  @media (min-width: 992px) {
    max-width: 100%;
  }
}

.section {
  scroll-margin-top: 50px;
}