#buscarModal.modal.fade.search-modal(tabindex='-1' role='dialog' aria-labelledby='buscarModalLabel')
	.modal-dialog.modal-dialog-centered(role='document')
		.modal-content.p-3.shadow
			form.example(action='action_page.php')
				input.form-control.rounded-0#search(type='text' placeholder='Buscar no site' name='search')
				button.btn.btn-orange.rounded-0(type='submit')
					i.fa-solid.fa-magnifying-glass(aria-hidden="true")