.contatos-frendly.py-5
  .container
    .row
      .col-3
      .col-9
        .carpet
          .carpet-header
            a.link.link-primary.mr-4(href="#" title="Entre em contato")
              i.fa-solid.fa-envelope.text-danger  &nbsp;
              strong Entre em contato
            a.link.link-primary.mr-4(href="#" title="Telefone")
              i.fa-solid.fa-phone.text-danger
            a.link.link-primary(href="#" title="whatsapp")
              i.fa-brands.fa-whatsapp.text-danger  &nbsp;
              strong +55 61 98230-1562
          .carpet-body.p-4
            form.contact-form
              .row
                .col-6
                  .form-group
                    input.form-control(type="text" id="name" placeholder="Nome:")
                .col-6
                  .form-group
                    input.form-control(type="text" id="sname" placeholder="Sobre nome:")
              .form-group
                input#exampleFormControlInput1.form-control(type='email' placeholder='name@example.com')
              .form-group
                select.js-my-select#exampleFormControlSelect1.form-control
                  option Selecione
                  option(value='Trabalhe-com-a-Taurus') Trabalhe-com-a-Taurus
                  option(value='dois') 2
                  option(value='tres') 3
                  option(value='quatro') 4
              .form-group.js-my-file.d-none.um(class='Trabalhe-com-a-Taurus')
                input(type="file")
              .form-group
                textarea#exampleFormControlTextarea1.form-control(rows='3' placeholder="Mensagem")
              .form-group
                .text-right
                  a.btn.btn-danger.d-block(href='#') 
                    | ENVIAR &nbsp;
                    span.float-right
                      i.fa-solid.fa-envelope