.container
  .row
    .col-3
      figure
        img(src="assets/logo-branca.svg" alt="logo")
      .text-lg.mb-2
        a.link.link-facebook.c-white.mr-4(href="#" title="facebook")
          i.fa-brands.fa-facebook
        a.link.link-instagram.c-white.mr-4(href="#" title="instagram")
          i.fa-brands.fa-instagram
        a.link.link-whatsapp.c-white.mr-4(href="#" title="whatsapp")
          i.fa-brands.fa-whatsapp
      p.c-white Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod dolores quos fugit adipisci at amet velit autem laudantium nesciunt quo deserunt modi sunt, nostrum praesentium doloribus. Quia corrupti quasi voluptas!
    .col-3
      h4.c-secondary
        strong Menu rápido
      ul.list-unstyled
        
    .col-3
    .col-3