extends base.pug
block content
  section.content
    include nav.pug
    section.py-5.cursos#sec2
      include cursos.pug
    section.py-5.videos
      include videos.pug
    section.py-5.sobre#sec3
      include sobre.pug
    section.edtop
      include edtop.pug
    section.contatos#sec4
      include contatos.pug