doctype html
html(lang="pt")
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title EDTOP
    link(rel='stylesheet', href='styles/main.scss')
    link(rel='icon', type='image/svg+xml', href='assets/favicon.svg')
    script(src='../node_modules/jquery/dist/jquery.js')

  body
    header
      include header.pug
    section.content
      include nav.pug
      section.py-5.cursos
        include cursos.pug
      section.py-5.videos
        include videos.pug
      section.py-5.sobre
        include sobre.pug
      section.edtop
        include edtop.pug
      section.contatos
        include contatos.pug
    footer.py-5.footer
      include footer.pug
    .copyright
      span Copyright ® 2023. Todos os direitos reservados https://www.edtop.org.br
      span Desenvolvido por 
        a.link.link-footer(href="#") Carlos vz

    script(type='module', src='scripts/main.js')
