doctype html
html(lang="pt")
  head
    title parcel
    link(rel='stylesheet', href='styles/main.scss')
    link(rel='icon', type='image/svg+xml', href='assets/favicon.svg')
    script(src='../node_modules/jquery/dist/jquery.js')

  body
    header
      nav.nav-global
        figure
          img(src="assets/logo1.svg", alt="")
          figcaption Escola de Doutrinas de Técnicas Operacionais
        .nav-interative
          a(title="buscar")
            i.fa-solid.fa-magnifying-glass
          span |
          a(href="#" title="facebook")
            i.fa-brands.fa-facebook
          a(href="#" title="instagram")
            i.fa-brands.fa-instagram
          a(href="#" title="whatsapp")
            i.fa-brands.fa-whatsapp
      .hero
        .hero-overimage
        .container
          .row
            .col-8
              article
                a.mtitle.mtitle-secondary.text-xl.mb-2(href='#') Nós criamos produtos digitais
                h1.text-xl6 Provendo cursos online
                p.text-xl2 Conteúdos para consurso público, legislação, constituição, polícia legislativa.
                div
                  a.btn.btn-danger(href="#" title="Começe agora")
                    strong Comece agora &nbsp;
                    i.fa-solid.fa-circle-arrow-right
                  span.ml-4
                    .iplay
                      .iplay-item
                        a.iplay-hover(href='')
                          span.iplay-icon
                            i.iplay-i.fas.fa-play
                          span.iplay-caption Assista agora
            
    section.content
      nav.navbar.navbar-expand-lg.nav-primary
        a.navbar-brand(href='#') Navbar
        button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
          span.navbar-toggler-icon
        #navbarSupportedContent.collapse.navbar-collapse
          include nav-ul.pug
      section.py-5.cursos
        include cursos.pug
      section.py-5.videos
        include videos.pug
      section.py-5.sobre
        include sobre.pug
          
    script(type='module', src='scripts/main.js')
