ul.nav-ul
	li
		a.link.link-nav.active(href="#") Home
	li
		a.link.link-nav(href="#") Sobre
	li
		a.link.link-nav(href="#") Cursos
	li
		a.link.link-nav(href="#") Artigos
	li
		a.link.link-nav(href="#") Contatos