ul.nav-ul
  li.sec1.active
    a.link.link-nav(href="#") Home
  li.sec2
    a.link.link-nav(href="#sec2") Cursos
  li.sec3
    a.link.link-nav(href="#sec3") Sobre
  li
    a.link.link-nav(href="artigos.pug") Artigos
  li.sec4
    a.link.link-nav(href="#sec4") Contatos