nav.navbar.navbar-expand-lg.nav-primary
  a.navbar-brand(href='#')
    img(src="assets/logo1.svg", alt="")
  .buttons
    button.navbar-toggler.x.btn.btn-primary(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      .icon-bar      
      .icon-bar      
      .icon-bar      
    | 
    a.navbar-toggler.btn.btn-primary(href="#" title="buscar" data-toggle="modal" data-target="#buscarModal")
      i.fa-solid.fa-magnifying-glass
  #navbarSupportedContent.collapse.navbar-collapse
    include nav-ul.pug
