.container
  .baloon-absolute
    .baloon
      .iplay
        .iplay-item
          span.iplay-hover
            span.iplay-icon
              i.iplay-i.fas.fa-play
      .caption
        | Assista Mais
  .carpet
    .carpet-body
      .players
        .embed-responsive.embed-responsive-4by3.players-item
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/DKUmf_G3Ld0')
        .embed-responsive.embed-responsive-4by3.players-item
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/DKUmf_G3Ld0')

        .embed-responsive.embed-responsive-4by3.players-item
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/DKUmf_G3Ld0')
        .embed-responsive.embed-responsive-4by3.players-item
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/DKUmf_G3Ld0')

        .embed-responsive.embed-responsive-4by3.players-item
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/DKUmf_G3Ld0')
        .embed-responsive.embed-responsive-4by3.players-item
          iframe.embed-responsive-item(src='https://www.youtube.com/embed/DKUmf_G3Ld0')


