.container
  .baloon
    .iplay
      .iplay-item
        a.iplay-hover(href='')
          span.iplay-icon
            i.iplay-i.fas.fa-play
  .carpet
    .players
      .embed-responsive.embed-responsive-4by3.players-item
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/DKUmf_G3Ld0')
      .embed-responsive.embed-responsive-4by3.players-item
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/DKUmf_G3Ld0')
    .players
      .embed-responsive.embed-responsive-4by3.players-item
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/DKUmf_G3Ld0')
      .embed-responsive.embed-responsive-4by3.players-item
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/DKUmf_G3Ld0')
    .players
      .embed-responsive.embed-responsive-4by3.players-item
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/DKUmf_G3Ld0')
      .embed-responsive.embed-responsive-4by3.players-item
        iframe.embed-responsive-item(src='https://www.youtube.com/embed/DKUmf_G3Ld0')


